html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}
