services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate &&
             gunicorn tcgptracker.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

  db:
    image: postgres:15
    volumes:
      - ./postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: tcgp
      POSTGRES_USER: tcgpuser
      POSTGRES_PASSWORD: secret
