{% load i18n %}
{# Cards #}
{% trans "Abomasnow" %}
{% trans "Abra" %}
{% trans "Absol" %}
{% trans "Acerola" %}
{% trans "Adaman" %}
{% trans "Aerodactyl" %}
{% trans "Aerodactyl ex" %}
{% trans "Aipom" %}
{% trans "Alakazam" %}
{% trans "Alolan Diglett" %}
{% trans "Alolan Dugtrio" %}
{% trans "Alolan Exeggutor" %}
{% trans "Alolan Geodude" %}
{% trans "Alolan Golem" %}
{% trans "Alolan Graveler" %}
{% trans "Alolan Grimer" %}
{% trans "Alolan Marowak" %}
{% trans "Alolan Meowth" %}
{% trans "Alolan Muk ex" %}
{% trans "Alolan Ninetales" %}
{% trans "Alolan Persian" %}
{% trans "Alolan Raichu ex" %}
{% trans "Alolan Raticate" %}
{% trans "Alolan Rattata" %}
{% trans "Alolan Sandshrew" %}
{% trans "Alolan Sandslash" %}
{% trans "Alolan Vulpix" %}
{% trans "Ambipom" %}
{% trans "Araquanid" %}
{% trans "Arbok" %}
{% trans "Arcanine" %}
{% trans "Arcanine ex" %}
{% trans "Arceus" %}
{% trans "Arceus ex" %}
{% trans "Armor Fossil" %}
{% trans "Articuno" %}
{% trans "Articuno ex" %}
{% trans "Azelf" %}
{% trans "Azumarill" %}
{% trans "Banette" %}
{% trans "Barboach" %}
{% trans "Barry" %}
{% trans "Bastiodon" %}
{% trans "Beedrill" %}
{% trans "Beedrill ex" %}
{% trans "Beheeyem" %}
{% trans "Bellossom" %}
{% trans "Bellsprout" %}
{% trans "Bewear" %}
{% trans "Bibarel" %}
{% trans "Bibarel ex" %}
{% trans "Bidoof" %}
{% trans "Big Malasada" %}
{% trans "Bisharp" %}
{% trans "Blaine" %}
{% trans "Blastoise" %}
{% trans "Blastoise ex" %}
{% trans "Blitzle" %}
{% trans "Blue" %}
{% trans "Bounsweet" %}
{% trans "Brionne" %}
{% trans "Brock" %}
{% trans "Bronzong" %}
{% trans "Bronzor" %}
{% trans "Bruxish" %}
{% trans "Budding Expeditioner" %}
{% trans "Buizel" %}
{% trans "Bulbasaur" %}
{% trans "Buneary" %}
{% trans "Burmy" %}
{% trans "Butterfree" %}
{% trans "Carnivine" %}
{% trans "Caterpie" %}
{% trans "Celebi ex" %}
{% trans "Celestic Town Elder" %}
{% trans "Centiskorch" %}
{% trans "Chansey" %}
{% trans "Charizard" %}
{% trans "Charizard ex" %}
{% trans "Charjabug" %}
{% trans "Charmander" %}
{% trans "Charmeleon" %}
{% trans "Chatot" %}
{% trans "Cherrim" %}
{% trans "Cherubi" %}
{% trans "Chewtle" %}
{% trans "Chimchar" %}
{% trans "Cinccino" %}
{% trans "Clefable" %}
{% trans "Clefairy" %}
{% trans "Clobbopus" %}
{% trans "Cloyster" %}
{% trans "Combee" %}
{% trans "Comfey" %}
{% trans "Conkeldurr" %}
{% trans "Cosmoem" %}
{% trans "Cosmog" %}
{% trans "Cottonee" %}
{% trans "Crabominable ex" %}
{% trans "Crabrawler" %}
{% trans "Cramorant" %}
{% trans "Cranidos" %}
{% trans "Cresselia" %}
{% trans "Croagunk" %}
{% trans "Crobat" %}
{% trans "Cubone" %}
{% trans "Cutiefly" %}
{% trans "Cyclizar" %}
{% trans "Cynthia" %}
{% trans "Cyrus" %}
{% trans "Darkrai" %}
{% trans "Darkrai ex" %}
{% trans "Dartrix" %}
{% trans "Dawn" %}
{% trans "Decidueye ex" %}
{% trans "Dedenne" %}
{% trans "Delcatty" %}
{% trans "Dewgong" %}
{% trans "Dewpider" %}
{% trans "Dhelmise" %}
{% trans "Dhelmise ex" %}
{% trans "Dialga ex" %}
{% trans "Diglett" %}
{% trans "Ditto" %}
{% trans "Dodrio" %}
{% trans "Doduo" %}
{% trans "Dome Fossil" %}
{% trans "Dondozo" %}
{% trans "Donphan" %}
{% trans "Dragonair" %}
{% trans "Dragonite" %}
{% trans "Drampa" %}
{% trans "Drapion" %}
{% trans "Dratini" %}
{% trans "Drednaw" %}
{% trans "Drifblim" %}
{% trans "Drifloon" %}
{% trans "Drilbur" %}
{% trans "Drowzee" %}
{% trans "Druddigon" %}
{% trans "Dubwool" %}
{% trans "Ducklett" %}
{% trans "Dugtrio" %}
{% trans "Dusclops" %}
{% trans "Dusknoir" %}
{% trans "Duskull" %}
{% trans "Eelektrik" %}
{% trans "Eelektross" %}
{% trans "Eevee" %}
{% trans "Ekans" %}
{% trans "Electabuzz" %}
{% trans "Electivire" %}
{% trans "Electrike" %}
{% trans "Electrode" %}
{% trans "Elgyem" %}
{% trans "Empoleon" %}
{% trans "Erika" %}
{% trans "Escavalier" %}
{% trans "Excadrill" %}
{% trans "Exeggcute" %}
{% trans "Exeggutor" %}
{% trans "Exeggutor ex" %}
{% trans "Fan Rotom" %}
{% trans "Farfetch'd" %}
{% trans "Fearow" %}
{% trans "Finneon" %}
{% trans "Fishing Net" %}
{% trans "Flabébé" %}
{% trans "Flamigo" %}
{% trans "Flareon" %}
{% trans "Fletchinder" %}
{% trans "Fletchling" %}
{% trans "Floatzel" %}
{% trans "Floette" %}
{% trans "Floragato" %}
{% trans "Florges" %}
{% trans "Fomantis" %}
{% trans "Froakie" %}
{% trans "Frogadier" %}
{% trans "Froslass" %}
{% trans "Frosmoth" %}
{% trans "Frost Rotom" %}
{% trans "Gabite" %}
{% trans "Gallade ex" %}
{% trans "Galvantula" %}
{% trans "Garbodor" %}
{% trans "Garchomp" %}
{% trans "Garchomp ex" %}
{% trans "Gardevoir" %}
{% trans "Gastly" %}
{% trans "Gastrodon" %}
{% trans "Gengar" %}
{% trans "Gengar ex" %}
{% trans "Geodude" %}
{% trans "Gholdengo" %}
{% trans "Giant Cape" %}
{% trans "Gible" %}
{% trans "Gimmighoul" %}
{% trans "Giovanni" %}
{% trans "Giratina" %}
{% trans "Giratina ex" %}
{% trans "Glaceon" %}
{% trans "Glaceon ex" %}
{% trans "Glameow" %}
{% trans "Gligar" %}
{% trans "Gliscor" %}
{% trans "Gloom" %}
{% trans "Gogoat" %}
{% trans "Golbat" %}
{% trans "Goldeen" %}
{% trans "Golduck" %}
{% trans "Golem" %}
{% trans "Golett" %}
{% trans "Golisopod" %}
{% trans "Golurk" %}
{% trans "Grafaiai" %}
{% trans "Grapploct" %}
{% trans "Graveler" %}
{% trans "Greninja" %}
{% trans "Grimer" %}
{% trans "Grotle" %}
{% trans "Growlithe" %}
{% trans "Grubbin" %}
{% trans "Grumpig" %}
{% trans "Gumshoos" %}
{% trans "Gurdurr" %}
{% trans "Guzma" %}
{% trans "Gyarados" %}
{% trans "Gyarados ex" %}
{% trans "Hakamo-o" %}
{% trans "Hariyama" %}
{% trans "Haunter" %}
{% trans "Hawlucha" %}
{% trans "Heat Rotom" %}
{% trans "Heatmor" %}
{% trans "Heatran" %}
{% trans "Heliolisk" %}
{% trans "Helioptile" %}
{% trans "Helix Fossil" %}
{% trans "Heracross" %}
{% trans "Hippopotas" %}
{% trans "Hippowdon" %}
{% trans "Hitmonchan" %}
{% trans "Hitmonlee" %}
{% trans "Hitmontop" %}
{% trans "Honchkrow" %}
{% trans "Hoothoot" %}
{% trans "Horsea" %}
{% trans "Houndoom" %}
{% trans "Houndour" %}
{% trans "Hypno" %}
{% trans "Ilima" %}
{% trans "Incineroar ex" %}
{% trans "Infernape ex" %}
{% trans "Iono" %}
{% trans "Irida" %}
{% trans "Ivysaur" %}
{% trans "Jangmo-o" %}
{% trans "Jigglypuff" %}
{% trans "Jolteon" %}
{% trans "Joltik" %}
{% trans "Jynx" %}
{% trans "Kabuto" %}
{% trans "Kabutops" %}
{% trans "Kadabra" %}
{% trans "Kakuna" %}
{% trans "Kangaskhan" %}
{% trans "Karrablast" %}
{% trans "Kiawe" %}
{% trans "Kingler" %}
{% trans "Kirlia" %}
{% trans "Klefki" %}
{% trans "Koffing" %}
{% trans "Koga" %}
{% trans "Komala" %}
{% trans "Kommo-o" %}
{% trans "Krabby" %}
{% trans "Kricketot" %}
{% trans "Kricketune" %}
{% trans "Lana" %}
{% trans "Lapras" %}
{% trans "Larvesta" %}
{% trans "Larvitar" %}
{% trans "Leaf" %}
{% trans "Leaf Cape" %}
{% trans "Leafeon" %}
{% trans "Leafeon ex" %}
{% trans "Lickilicky" %}
{% trans "Lickilicky ex" %}
{% trans "Lickitung" %}
{% trans "Liepard" %}
{% trans "Lillie" %}
{% trans "Lilligant" %}
{% trans "Litten" %}
{% trans "Lopunny" %}
{% trans "Lt. Surge" %}
{% trans "Lucario" %}
{% trans "Lucario ex" %}
{% trans "Lum Berry" %}
{% trans "Lumineon" %}
{% trans "Lunala ex" %}
{% trans "Lunatone" %}
{% trans "Lurantis" %}
{% trans "Luxio" %}
{% trans "Luxray" %}
{% trans "Lycanroc" %}
{% trans "Machamp" %}
{% trans "Machamp ex" %}
{% trans "Machoke" %}
{% trans "Machop" %}
{% trans "Magcargo" %}
{% trans "Magearna" %}
{% trans "Magikarp" %}
{% trans "Magmar" %}
{% trans "Magmortar" %}
{% trans "Magnemite" %}
{% trans "Magneton" %}
{% trans "Magnezone" %}
{% trans "Makuhita" %}
{% trans "Mallow" %}
{% trans "Mamoswine" %}
{% trans "Manaphy" %}
{% trans "Manectric" %}
{% trans "Mankey" %}
{% trans "Maractus" %}
{% trans "Mareanie" %}
{% trans "Marill" %}
{% trans "Marowak" %}
{% trans "Marowak ex" %}
{% trans "Mars" %}
{% trans "Marshadow" %}
{% trans "Masquerain" %}
{% trans "Mawile" %}
{% trans "Medicham" %}
{% trans "Meditite" %}
{% trans "Melmetal" %}
{% trans "Meltan" %}
{% trans "Meowscarada" %}
{% trans "Meowth" %}
{% trans "Mesprit" %}
{% trans "Metapod" %}
{% trans "Mew" %}
{% trans "Mew ex" %}
{% trans "Mewtwo" %}
{% trans "Mewtwo ex" %}
{% trans "Mienfoo" %}
{% trans "Mienshao" %}
{% trans "Mightyena" %}
{% trans "Mimikyu" %}
{% trans "Minccino" %}
{% trans "Minior" %}
{% trans "Misdreavus" %}
{% trans "Mismagius ex" %}
{% trans "Misty" %}
{% trans "Moltres" %}
{% trans "Moltres ex" %}
{% trans "Monferno" %}
{% trans "Morelull" %}
{% trans "Mothim" %}
{% trans "Mow Rotom" %}
{% trans "Mr. Mime" %}
{% trans "Mudbray" %}
{% trans "Mudsdale" %}
{% trans "Muk" %}
{% trans "Murkrow" %}
{% trans "Mythical Slab" %}
{% trans "Necrozma" %}
{% trans "Nidoking" %}
{% trans "Nidoqueen" %}
{% trans "Nidoran♀" %}
{% trans "Nidoran♂" %}
{% trans "Nidorina" %}
{% trans "Nidorino" %}
{% trans "Ninetales" %}
{% trans "Noctowl" %}
{% trans "Nosepass" %}
{% trans "Oddish" %}
{% trans "Old Amber" %}
{% trans "Omanyte" %}
{% trans "Omastar" %}
{% trans "Onix" %}
{% trans "Oranguru" %}
{% trans "Oricorio" %}
{% trans "Origin Forme Dialga" %}
{% trans "Origin Forme Palkia" %}
{% trans "Pachirisu" %}
{% trans "Pachirisu ex" %}
{% trans "Paldean Clodsire ex" %}
{% trans "Paldean Tauros" %}
{% trans "Paldean Wooper" %}
{% trans "Palkia ex" %}
{% trans "Palossand" %}
{% trans "Paras" %}
{% trans "Parasect" %}
{% trans "Passimian ex" %}
{% trans "Pawmi" %}
{% trans "Pawmo" %}
{% trans "Pawmot" %}
{% trans "Pawniard" %}
{% trans "Persian" %}
{% trans "Petilil" %}
{% trans "Phanpy" %}
{% trans "Phantump" %}
{% trans "Phione" %}
{% trans "Pidgeot" %}
{% trans "Pidgeot ex" %}
{% trans "Pidgeotto" %}
{% trans "Pidgey" %}
{% trans "Pikachu" %}
{% trans "Pikachu ex" %}
{% trans "Pikipek" %}
{% trans "Piloswine" %}
{% trans "Pincurchin" %}
{% trans "Pinsir" %}
{% trans "Piplup" %}
{% trans "Poison Barb" %}
{% trans "Poké Ball" %}
{% trans "Pokémon Center Lady" %}
{% trans "Pokémon Communication" %}
{% trans "Pokémon Flute" %}
{% trans "Poliwag" %}
{% trans "Poliwhirl" %}
{% trans "Poliwrath" %}
{% trans "Ponyta" %}
{% trans "Poochyena" %}
{% trans "Popplio" %}
{% trans "Porygon" %}
{% trans "Porygon-Z" %}
{% trans "Porygon2" %}
{% trans "Primarina" %}
{% trans "Primeape" %}
{% trans "Prinplup" %}
{% trans "Probopass" %}
{% trans "Probopass ex" %}
{% trans "Psyduck" %}
{% trans "Pupitar" %}
{% trans "Purrloin" %}
{% trans "Purugly" %}
{% trans "Pyukumuku" %}
{% trans "Raichu" %}
{% trans "Ralts" %}
{% trans "Rampardos" %}
{% trans "Rapidash" %}
{% trans "Rare Candy" %}
{% trans "Raticate" %}
{% trans "Rattata" %}
{% trans "Red" %}
{% trans "Regice" %}
{% trans "Regigigas" %}
{% trans "Regirock" %}
{% trans "Registeel" %}
{% trans "Revavroom" %}
{% trans "Rhydon" %}
{% trans "Rhyhorn" %}
{% trans "Rhyperior" %}
{% trans "Ribombee" %}
{% trans "Riolu" %}
{% trans "Rockruff" %}
{% trans "Rocky Helmet" %}
{% trans "Roselia" %}
{% trans "Roserade" %}
{% trans "Rotom" %}
{% trans "Rotom Dex" %}
{% trans "Rowlet" %}
{% trans "Sableye" %}
{% trans "Sabrina" %}
{% trans "Salandit" %}
{% trans "Salazzle" %}
{% trans "Sandshrew" %}
{% trans "Sandslash" %}
{% trans "Sandygast" %}
{% trans "Scolipede" %}
{% trans "Scyther" %}
{% trans "Seadra" %}
{% trans "Seaking" %}
{% trans "Seel" %}
{% trans "Serperior" %}
{% trans "Servine" %}
{% trans "Shaymin" %}
{% trans "Shellder" %}
{% trans "Shellos" %}
{% trans "Shieldon" %}
{% trans "Shiinotic" %}
{% trans "Shinx" %}
{% trans "Shroodle" %}
{% trans "Shuppet" %}
{% trans "Sigilyph" %}
{% trans "Sizzlipede" %}
{% trans "Skarmory" %}
{% trans "Skiddo" %}
{% trans "Skitty" %}
{% trans "Skorupi" %}
{% trans "Skull Fossil" %}
{% trans "Skuntank" %}
{% trans "Slowbro" %}
{% trans "Slowpoke" %}
{% trans "Slugma" %}
{% trans "Slurpuff" %}
{% trans "Sneasel" %}
{% trans "Snivy" %}
{% trans "Snom" %}
{% trans "Snorlax" %}
{% trans "Snorunt" %}
{% trans "Snover" %}
{% trans "Solgaleo ex" %}
{% trans "Solrock" %}
{% trans "Sophocles" %}
{% trans "Spearow" %}
{% trans "Spiritomb" %}
{% trans "Spoink" %}
{% trans "Sprigatito" %}
{% trans "Squirtle" %}
{% trans "Staraptor" %}
{% trans "Staravia" %}
{% trans "Starly" %}
{% trans "Starmie" %}
{% trans "Starmie ex" %}
{% trans "Staryu" %}
{% trans "Steenee" %}
{% trans "Stonjourner" %}
{% trans "Stufful" %}
{% trans "Stunky" %}
{% trans "Sudowoodo" %}
{% trans "Surskit" %}
{% trans "Swanna" %}
{% trans "Swinub" %}
{% trans "Swirlix" %}
{% trans "Swoobat" %}
{% trans "Talonflame" %}
{% trans "Tangela" %}
{% trans "Tangrowth" %}
{% trans "Tapu Bulu" %}
{% trans "Tapu Fini" %}
{% trans "Tapu Koko" %}
{% trans "Tapu Lele" %}
{% trans "Tatsugiri" %}
{% trans "Tauros" %}
{% trans "Team Galactic Grunt" %}
{% trans "Team Rocket Grunt" %}
{% trans "Tentacool" %}
{% trans "Tentacruel" %}
{% trans "Timburr" %}
{% trans "Tinkatink" %}
{% trans "Tinkaton ex" %}
{% trans "Tinkatuff" %}
{% trans "Togedemaru" %}
{% trans "Togekiss" %}
{% trans "Togepi" %}
{% trans "Togetic" %}
{% trans "Torracat" %}
{% trans "Torterra" %}
{% trans "Toucannon" %}
{% trans "Toxapex" %}
{% trans "Toxicroak" %}
{% trans "Trevenant" %}
{% trans "Trubbish" %}
{% trans "Trumbeak" %}
{% trans "Tsareena" %}
{% trans "Turtonator" %}
{% trans "Turtwig" %}
{% trans "Tynamo" %}
{% trans "Tyranitar" %}
{% trans "Unown" %}
{% trans "Uxie" %}
{% trans "Vaporeon" %}
{% trans "Varoom" %}
{% trans "Venipede" %}
{% trans "Venomoth" %}
{% trans "Venonat" %}
{% trans "Venusaur" %}
{% trans "Venusaur ex" %}
{% trans "Vespiquen" %}
{% trans "Victreebel" %}
{% trans "Vikavolt" %}
{% trans "Vileplume" %}
{% trans "Volcarona" %}
{% trans "Volkner" %}
{% trans "Voltorb" %}
{% trans "Vulpix" %}
{% trans "Wartortle" %}
{% trans "Wash Rotom" %}
{% trans "Weavile ex" %}
{% trans "Weedle" %}
{% trans "Weepinbell" %}
{% trans "Weezing" %}
{% trans "Whimsicott" %}
{% trans "Whirlipede" %}
{% trans "Whiscash" %}
{% trans "Wigglytuff" %}
{% trans "Wigglytuff ex" %}
{% trans "Wiglett" %}
{% trans "Wimpod" %}
{% trans "Wishiwashi" %}
{% trans "Wishiwashi ex" %}
{% trans "Woobat" %}
{% trans "Wooloo" %}
{% trans "Wormadam" %}
{% trans "Wugtrio ex" %}
{% trans "Yanma" %}
{% trans "Yanmega ex" %}
{% trans "Yungoos" %}
{% trans "Zapdos" %}
{% trans "Zapdos ex" %}
{% trans "Zebstrika" %}
{% trans "Zubat" %}
